*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#main{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 30%;
  height: auto;
}
p{
  margin: 10px 0;
}
.cart-box img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.add button{
  background-color: #28a745;
  margin-top: 10px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.add button:hover{
  background-color: #218838;
}
input{
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}
.product-selection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-description{
  width: 100%;
}
.number{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.number button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}