*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#main{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 1320px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.cart-box{
  width: 30%;
  height: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
p{
  margin: 10px 0;
}
.cart-box img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.product-image{
  width: 100%;
  height: 65%;
  border-radius: 10px;
  cursor: pointer;
}
.product-image:hover{
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.product-details{
  margin-top: 20px;
}
.add button{
  background-color: #28a745;
  margin-top: 10px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.add button:hover{
  background-color: #218838;
}
input{
  width: 60px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}
.product-selection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-description{
  width: 100%;
}
.number{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 5px;
}
.number button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
#sidebar img{
  width: 100%;
  border-radius: 10px;
}
#sidebar{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.cart-item{
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.cart-item h2{
  font-size: 20px;
  margin: 0;
}
.cart-item p{
  font-size: 14px;
  color: #666;
}
#sidebar .cart-product-details{
  width: 100%;
}
#sidebar .cart-product-image{
  width: 60%;
}
#sidebar .cart-product-selection{
  display: flex;
  align-items: baseline;
  gap: 10px;
}
#sidebar{
  background: #fff;
  margin-top: 130px;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
}
#side {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px; 
  height: auto;
  background: #ccc;
  padding: 20px;
  height: 100%;
  display: none;
  z-index: 9999;
}
#sidebar img {
  width: 100%;
  max-width: 300px; 
  height: auto; 
  border-radius: 10px;
}
#sidebar input{
  width: 60px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}
#sidebar button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.close{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.cart{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.erase-cart{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
#cart-total{
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2f3b47;
  color: #fff;
  border: none;
  padding: 10px 45px;
  border-radius: 5px;
  cursor: pointer;
}
#cart-total button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 45px;
  border-radius: 5px;
  cursor: pointer;
}